<!DOCTYPE html>
<html>

    {% include head.html %}

    <body>

        {% include header.html %}

        <div class="page-content animated fadeIn">
            <div class="wrapper">
                {{ content }}
            </div>
        </div>

        <a href="Mailto:az8321550@gmail.com?CC=az8321550@gmail.com&BCC=az8321550@gmail.com&Subject=Remind&Body=This email is from your blog. Someone want to contact to you!" class="float-btn" id="connect-to-me-btn">
            <i class="fa fa-envelope email-icon"></i>
            <span class="email-text">Email to me!</span>
        </a>

        {% include footer.html %}

        <script src="{{ '/scripts/app.js' | prepend: site.baseurl }}"></script>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-86031948-1', 'auto');
            ga('send', 'pageview');

        </script>
    </body>

</html>
