<!DOCTYPE html>
<html>

    {% include head.html %}

    <body>

        {% include header.html %}

        <div class="page-content animated fadeIn">
            <div class="wrapper">
                {{ content }}
            </div>
        </div>

        <a href="Mailto:az8321550@gmail.com?CC=az8321550@gmail.com&BCC=az8321550@gmail.com&Subject=Remind&Body=This email is from your blog. Someone want to contact to you!" class="float-btn" id="connect-to-me-btn">
            <i class="fa fa-envelope email-icon"></i>
            <span class="email-text">Email to me!</span>
        </a>

        {% include footer.html %}

        <script src="{{ '/scripts/app.js' | prepend: site.baseurl }}"></script>
    </body>

</html>
